.footer {
    font-family: londrina shadow;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: green;
    align-content: center;
    text-align: center;
    color: white
}

.phantom {
    display: block;
    padding: 20px;
    height: 30px;
    width: 100%;
}