*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(200, 250, 177);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(167, 228, 152);
  color: rgb(0, 0, 0);
  border: .1vmin solid rgb(176, 236, 148);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: rgb(167, 228, 152);
  border: .1vmin solid rgb(176, 236, 148);
  border-radius: 1vmin;
}

p.error-message {
  color: rgb(143, 46, 46);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: rgb(0, 71, 18);
}

label {
  font-size: 1.4vmin;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}


input:focus {
  border-color: rgb(53, 133, 1);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 133, 1);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid rgb(52, 173, 36);
  border-radius: 1vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
  border-radius: 1vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: rgb(186, 211, 174);
  border-radius: 1vmin;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  border-radius: 1vmin;
}
