.golferpic {
    height: 30vh;
    text-align: center;
    margin: auto;
    display: block;
}
h1 {
    font-family: londrina shadow;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(40, 139, 6);
}